a {
    cursor: pointer;
}

.EST, .white {
    color: #EFEFEF;
    font-family: 'Roboto', sans-serif;
}


header.pagina1 {
    background-image: url('https://th.bing.com/th/id/R.ca35c44299e82405c88fb989b6e93fe0?rik=dM48tXjkuMbCXQ&riu=http%3a%2f%2fgetwallpapers.com%2fwallpaper%2ffull%2fa%2ff%2f6%2f1253963-top-computer-programming-wallpaper-1920x1080-for-android-tablet.jpg&ehk=Jt13bu2nJD80MHZGr6sSvP2nNQPP1nBTrgpmqK6B244%3d&risl=&pid=ImgRaw&r=0');
    background-size: cover;
    
    
    
    height: 100vh;
    padding:0;
    margin:0;
}

#Tamanho1 {
    font-size: 130%;
    font-family: 'Roboto', sans-serif;
}

p.white#Tamanho1 {
    background-color: rgb(8, 18, 75, 0.5);
    color: #EFEFEF;
}

body {
    background-color: #a3a4a7;
}

h1 {
    text-align: center;
    font-size: 320%;
    font-family: 'Libre Baskerville', serif; 
    background-image: linear-gradient(to bottom, #08124B, #2C62F6, #4C9CDC);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
}

.fontchange {
    font-family: 'Libre Baskerville', serif; 
    font-weight: 600;
    font-style: normal;
}

hr.BL2 {
    overflow: visible;
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}

hr.BL2:before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

hr.BL {
    overflow: visible;
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}

hr.BL:after {
    content: "ยง";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}

.inicio {
	box-shadow:inset 0px 1px 0px 0px #4c9bdc;
	background:linear-gradient(to bottom, #2c62f6 5%, #08124b 100%);
	background-color:#2c62f6;
	border-radius:6px;
	border:1px solid #2c62f6;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Roboto', sans-serif;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #08124b;
}
.inicio:hover {
	background:linear-gradient(to bottom, #08124b 5%, #2c62f6 100%);
	background-color:#08124b;
}
.inicio:active {
	position:relative;
	top:1px;
}

div.quemsomos {
    column-count: 3;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-gap: 35px;
    -webkit-column-gap: 35px;
    -moz-column-gap: 35px;
    column-rule: 1px dotted #000000;
    -webkit-column-rule: 1px dotted #000000;
    -moz-column-rule: 1px dotted #000000;
    font-family: 'Roboto', sans-serif;
}

.hiperlinkBotao {
	box-shadow: 3px 4px 0px 0px #08124b;
	background:linear-gradient(to bottom, #0263ff 5%, #08124b 100%);
	background-color:#0263ff;
	border-radius:18px;
	border:1px solid #2c62f6;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
    font-family: 'Roboto', sans-serif;
    font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}

.hiperlinkBotao:hover {
	background:linear-gradient(to bottom, #08124b 5%, #0263ff 100%);
	background-color:#08124b;
}

.hiperlinkBotao:active {
	position:relative;
	top:1px;
}

header.pagina2 {
    background-image: url('https://th.bing.com/th/id/R.ca35c44299e82405c88fb989b6e93fe0?rik=dM48tXjkuMbCXQ&riu=http%3a%2f%2fgetwallpapers.com%2fwallpaper%2ffull%2fa%2ff%2f6%2f1253963-top-computer-programming-wallpaper-1920x1080-for-android-tablet.jpg&ehk=Jt13bu2nJD80MHZGr6sSvP2nNQPP1nBTrgpmqK6B244%3d&risl=&pid=ImgRaw&r=0');
    background-size: cover;
    
    
    height: 9vh;
    padding:0;
    margin:0;
}

textarea.monospaced {
    font-family: 'Source Code Pro', monospace;
    font-size: 13px;
}

span.roboto {
    font-family: 'Roboto', sans-serif;
}

.center{
    text-align: center;
}

h3.pergunta {
    padding: 5%;
    font-family: 'Roboto', sans-serif;
}

#estilo1 {
    font-size: 135%;
    font-family: 'Libre Baskerville', serif; 
}

.hovertext {
    position: relative;
    border-bottom: 1px;
    font-family: 'Roboto', sans-serif;
}
  
.hovertext:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 140px;
    background-color: black;
    color: #fff;
    text-align: left;
    border-radius: 5px;
    padding: 6px 8px;
    transition: opacity 1s ease-in-out;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 110%;
}
  
.hovertext:hover:before {
    opacity: 1;
    visibility: visible;
    font-family: 'Roboto', sans-serif;
}

textarea {
    font-size: 130%;
    resize: none;
}

.select {
    align-items: center;
}
  
.select:after {
    justify-self: end;
}

#destaque2 {
    font-size: 27px;
    background-image: linear-gradient(to bottom, #F62820, #000000, #F62820);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
}

#destaque {
    font-size: 24px;
}

#espacos {
    margin-left: 1.2%;
    font-family: 'Libre Baskerville', serif; 
}

#espacos2 {
    margin-left: 1.2%;
    margin-right: 1.2%;
}

#espacos3 {
    margin-left: 10%;
    margin-right: 10%;
}

.espacos {
    margin-left: 1.2%;
    font-family: 'Roboto', sans-serif;
}

.espacos2 {
    margin-left: 1.2%;
    margin-right: 1.2%;
}

.espacos3 {
    margin-left: 10%;
    margin-right: 10%;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}